/*Styling All The Components*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-decoration: none;
  height:100%;
}

body {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 100vh;
  background: url(scroll5.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden;
  color: #000;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: .3s;
}

/*Don't Change It*/
nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
  text-decoration: none;
}

nav ul li a {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: lighter;
  text-decoration: none!important;
  color: #fff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #000;
  display: none;
}

@media(max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}

/*Link Hovering*/

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #CB4335;
  transition: width .4s;
}

.cool-link:hover::after {
  width: 130%;
  transition: width .4s;
}

/*Parallax Effect*/

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}
/*
.pimg1{
  background-image:url('img/image1.jpg');
  min-height:100%;
}*/

.pimg2{
  background-image:url('scroll1.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('scroll2.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}


body {
  color: #E9376F;
}











/*Checkpoints:
Jueves 24/05/2018, 9:32PM - Viernes 25/05/2018 1:03AM*/
